/* ============================
            Font Family 
==============================*/
@import url("https://fonts.cdnfonts.com/css/gill-sans-2?styles=97268,97270,97265,97267,97260,97269,97262");
@font-face {
  font-family: Gill-Sans;
  src: url(../font/gill-sans/Gill\ Sans.otf);
}
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
.font-garamond {
  font-family: "EB Garamond", serif;
}
/* ============================
            General 
==============================*/
body {
  background-color: #fff;
  /* font-family: "Gill-Sans", sans-serif; */
  font-family: Gill-Sans;
  font-size: 16px;
}
.content {
  margin-top: 150px;
}
.title {
  font-size: 40px;
}
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #000000;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #9e7f32;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* ============================
            Header 
==============================*/
body.scrolled header {
  padding: 5px 0;
  transition: 1s;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}
body.scrolled .nav-brand img {
  max-width: 150px;
  transition: 1s;
}
body.addmenu .menu {
  top: 0 !important;
  transition: 1s;
}
.menu {
  top: -805% !important;
  transition: 1s;
}
.list-menu {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 30px;
  padding-bottom: 50px;
}
.list-menu .item-menu {
  font-size: 24px;
}
.list-menu input:hover {
  border-bottom: 1px solid #fff !important;
}
.list-menu input:focus {
  border-bottom: 1px solid #fff !important;
}
.list-menu a {
  text-transform: uppercase;
  font-family: "EB Garamond", serif;
}
.track-order {
  position: relative;
}
.track-order span {
  width: 77%;
  left: 135px;
  height: 1px;
  bottom: 12px;
  background-color: #fff;
}

/* ============================
            Footer 
==============================*/
.sosmed li:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sosmed li:first-child::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 1px;
  width: 75px;
}
.footer-bottom ul li {
  color: #fff;
}
.footer-bottom ul li:not(:last-child):after {
  content: "|";
  padding-left: 15px;
}
.footer-bottom ul li a:hover {
  color: #9e7f32;
}
.list-service-home {
  gap: 20px;
  display: flex;
  align-items: center;
}
.list-service-home .card-header img {
  height: 250px;
  width: 100%;
  filter: grayscale(1);
  border-radius: 30px;
}
.list-service-home .active:nth-child(4) {
  height: 200px;
}
.list-service-home .card {
  height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-service-home .card h1 {
  bottom: 60px;
  left: 50px;
}
.list-service-home .owl-item.active.center .card h1 {
  left: 30px;
}
.list-service-home .card-header:hover img {
  filter: grayscale(0);
}
.list-service-home .owl-item.active.center .card img {
  height: 300px;
  padding: 0;
  transition: 1s;
  border-radius: 30px;
}
.list-service-home .owl-item.active.center .card h1 {
  bottom: 40px !important;
}
/* ============================
          About
==============================*/
.about-me div {
  background-color: antiquewhite;
}
.about-me .card {
  overflow: hidden;
  border-radius: 25px;
}
@media (max-width: 678px) {
  .about-me .card {
    margin-bottom: 25px;
  }
}
.about-me .card:hover .card-header h1 {
  display: none;
}
.about-me .card:hover .card-body {
  opacity: 1;
  transition: 1s;
}
.about-me .card-body {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  transition: 1s;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: #fff;
  text-align: center;
}
/* .awward .card:hover .second-badge {
  display: block;
}
.awward .card:hover .first-badge {
  display: none;
}
.second-badge {
  display: none;
} */
.awward .card-header {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  min-height: 20px;
}
.awward li {
  margin-bottom: 25px;
}
.awward li:nth-child(2) .card-header {
  min-height: 240px;
}
.awward li:nth-child(3) .card-header {
  min-height: 240px;
}
.awward li:nth-child(2) .card-header img {
  max-width: 170px;
  width: 100%;
  max-height: 266px;
  height: auto;
}
.awward li:nth-child(3) .card-header img {
  max-width: 188px;
  width: 100%;
  max-height: 266px;
  height: auto;
}
.awward .card-body p {
  margin: 0 auto;
  max-width: 300px;
}
/* ============================
          Case Study
==============================*/
.table-detail tr {
  border: 1px solid #000;
}
.table-detail td {
  border: 1px solid #000;
  padding: 10px;
}
.table-detail tr td:nth-child(1) {
  font-weight: bold;
  width: 20%;
}
.table-detail tr td:nth-child(3) {
  width: 20%;
  font-weight: bold;
}
@media (min-width: 679px) {
  .list-case-study .grid:nth-child(even) .overview {
    order: 2;
  }
  .list-case-study .grid:nth-child(even) .cover {
    order: 1;
  }
  .list-case-study .grid:nth-child(even) .cover .flex {
    order: 1;
    justify-content: start;
  }
}

/* ============================
          Accordion
==============================*/
.accordion-header {
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion .active .accordion-content {
  display: block;
}
.accordion-about .accordion-item.active .title-accordion {
  font-size: 16px;
}
.accordion-about .accordion-content {
  padding-left: 50px;
  font-family: "EB Garamond", serif;
  line-height: inherit;
}
.accordion-about .accordion-item.active .accordion-header {
  color: #9e7f32;
}
.accordion-about .accordion-item {
  margin-bottom: 30px;
  min-height: 120px;
}
.accordion-faq .accordion-item.active .accordion-header img {
  transform: rotate(180deg);
  transition: 1s;
}
.accordion-faq .accordion-item {
  margin-bottom: 35px;
}
.accordion-faq .accordion-content {
  padding-left: 0 !important;
}
/* ============================
          Our Service
==============================*/
.our-service-item .cover {
  filter: grayscale(1);
  max-height: 644px;
}
.our-service-item .card-body {
  border-radius: 25px;
  display: none;
  position: absolute;
  left: 0;
}
.card.card-service.active .card-body {
  display: block;
}
.box-detail-service {
  display: none;
}
body .owl-carousel-home .owl-nav {
  display: none !important;
}
.item-service {
  padding-bottom: 50px;
}
.our-service-item .owl-item.active.center .btn-show-detail {
  display: block;
}
.our-service-item .owl-item.active.center .cover {
  filter: grayscale(0);
}
.our-service-item .owl-item.active.center .item-service {
  transition: 1s;
  padding: 0;
  padding-bottom: 20px;
}
.our-service-item .owl-item.active.center .thumbnail::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 25px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(226, 232, 240, 0) 100%
  );
}
.our-service-item .owl-item.active.center .thumbnail h1 {
  font-size: 60px;
  margin-bottom: 15px;
}
.our-service-item .owl-item.active.center .thumbnail p {
  font-size: 25px;
}
.our-service-item .owl-item .thumbnail p {
  max-width: 200px;
}
.item-service {
  transition: 1s;
  padding: 20px;
}
.btn-show-detail {
  display: none;
}
.owl-carousel .owl-nav {
  display: block !important;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -15px;
  font-size: 55px !important;
  transform: translate(-50%, -50%);
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -33px !important;
  font-size: 55px !important;
  transform: translate(-50%, -50%);
}

.btn-show-detail img {
  width: 50px !important;
  height: 50px !important;
}
/* ============================
          Location
==============================*/
.list-location {
  overflow-y: scroll;
  height: 600px;
}
/* width */
.list-location::-webkit-scrollbar {
  width: 0;
}

/* Track */
.list-location::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.list-location::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.list-location::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
/* ============================
          Responsive
==============================*/
@media (max-width: 1024px) {
  .trusted img {
    max-width: 150px;
    max-height: 50px;
  }
  .footer-bottom ul li a {
    font-size: 14px;
  }
  .sosmed img {
    height: 25px;
    width: 25px;
  }
  .download-app img {
    max-width: 100px;
  }
  .title {
    font-size: 18px;
  }
  .list-menu .item-menu {
    font-size: 14px;
  }
  .list-menu .btn-search {
    font-size: 14px;
    padding: 5px 10px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 10px;
    background-color: #fff !important;
    height: 25px;
    width: 25px;
    display: grid;
    place-content: center;
    font-size: 24px !important;
    border-radius: 100px;
  }
  .owl-carousel .owl-nav button.owl-next {
    font-size: 24px !important;
    right: -12px !important;
    background-color: #fff !important;
    height: 25px;
    width: 25px;
    display: grid;
    place-content: center;
    border-radius: 100px;
  }
  .our-service-item .owl-item.active.center .thumbnail h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .our-service-item .owl-item.active.center .thumbnail p {
    font-size: 15px;
  }
}
